.row-height {
  height: 90vh;
}

.sidebar-custom-styles {
  background-color: #ffffff;
  height: 100%;
  box-shadow: 0 0 10px black;
}

.content-custom-styles {
  background-color: #ffffff;
  height: 100%;
  box-shadow: 0 0 10px black;
}

@media (max-width: 991px) {
  .sidebar {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1022px) {
  .row-height {
    height: unset;
  }
  .main-component {
    margin-bottom: 1rem;
  }
}

.content {
  /* background: linear-gradient(
    90deg,
    hsla(0, 100%, 67%, 1) 0%,
    hsla(0, 100%, 89%, 1) 100%
  ); */

  background: linear-gradient(
    90deg,
    hsla(0, 87%, 79%, 1) 0%,
    hsla(6, 77%, 85%, 1) 100%
  );
}
