.email:hover {
  transform: scale(1.2);
}

.email {
  transition: all 1s linear;
}

.my-name {
  font-family: "Kaushan Script";
  margin: 1rem 0;
  font-size: 1.7rem;
}

.social-icons:hover {
  color: yellow;
}
