html,
body {
  /* background-color: black; */
  /* height: 100%; */
}

/* rest stylesheet from week 2, activity 17 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  height: 100%;
} */

body {
  /* min-height: 100vh; */
  line-height: 1;
  font-family: sans-serif;
  /* background-color: #7d0909; */
  /* background: linear-gradient(
    90deg,
    hsla(0, 87%, 79%, 1) 0%,
    hsla(6, 77%, 85%, 1) 100%
  ); */

  background: linear-gradient(
    90deg,
    hsla(0, 100%, 67%, 1) 0%,
    hsla(0, 100%, 89%, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}
